<mat-toolbar  color="primary" class="app-toolbar" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px" >
  <div class="spacer-toolbar"></div>
  <button (click)="goDashboard()" mat-raised-button class="mat-elevation-z0">Crear Cuenta</button>
  <button (click)="goDashboard()" mat-stroked-button>Iniciar Sesión</button>
</mat-toolbar>
<div  style="background-color: #2196F3; height: calc(100% - 64px)">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayout.md="column"
    fxFlexFill
    fxLayoutAlign="center center"
  >

    <div fxFlex="33.33" style="padding: 2%">
      <img  style="width: 100%" src="assets/lilg_inicio.svg">
    </div>
  </div>

</div>
