.mat-drawer-side {
  border: none;
  padding: 20px;
  width: 240px;
}

.example-ripple-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.spacer {
  flex: 1 1 auto;
}

.example-selected-value {
  margin: 15px 0;
}

.boton-right{
  border-radius: 0px 4px 4px 0px;
}

.boton-left{
  border-radius: 4px 0px 0px 4px;
}


.mat-success {
  background-color: #6AB04C;
  color: #fff;
}

.mat-download {
  background-color: #FF6B6B;
  color: #fff;
}

.toggle-custom{
  border: none;
}
