
  <mat-drawer-container fxFill >
    <mat-drawer mode="side" opened class="mat-drawer-side">
      <img style="width: 100%;" src="assets/lilg_blue.svg">
      <button (click)="openDialog()" style="width: 100%; margin-top: 20px"  mat-raised-button color="primary">Crear Diagrama</button>
    </mat-drawer>
    <mat-drawer-content style="background-color: #2196F3">
      <mat-toolbar color="accent">
        <img style="height: 66%;border-radius: 50%;"  mat-list-avatar [src]="photoUrl">
        <div style="width: 10px"></div>
        <span>Bienvenido{{ getUserName() }}!</span>
        <span class="spacer"></span>
        <button (click)="closeSesion()" mat-stroked-button >Cerrar Sesión</button>
      </mat-toolbar>
      <mat-card style="margin: 24px">
      <mat-list>
        <div mat-subheader>Diagramas</div>
        <mat-list-item *ngFor="let folder of folders">
          <img mat-list-avatar src="https://karmaburn.com/files/screenshots/carnival_phantasm/saber0802.jpg">
          <div mat-line>{{folder.name}}</div>
          <div mat-line> {{folder.date_create * 1000 | date:'dd/MM/yyyy(EEE) - hh:mmaaa'}} </div>
           <div>
             <mat-button-toggle-group class="toggle-custom" fxLayout="row" fxLayoutAlign="start stretch"
               [disabled]="disabled" [appearance]="appearance">
               <button color="success" class="mat-elevation-z0 boton-left" mat-button mat-raised-button style="min-width: unset;">
                 <fa-icon [icon]="eye_icon"></fa-icon>
               </button>
               <button color="download" class="mat-elevation-z0 boton-right" mat-button mat-raised-button style="min-width: unset;">
                 <fa-icon [icon]="download_icon"></fa-icon>
               </button>
               <div></div>
             </mat-button-toggle-group>
           </div>
        </mat-list-item>
      </mat-list>
      </mat-card>
    </mat-drawer-content>
  </mat-drawer-container>
