.ripple-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 100%;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
